/************************************************************************************************************************
 * 
 * serpiko-sparkline.css
 *
 * v1.0.2
 * 
 * jquery.sparkline.min.js 라이브러리에서 box-sizing이 border-box 일경우 말풍선이 깨지므로 content-box로 원복한다.
 *
 * author: 허정진 aka. serpiko
 *	
 * update: 2016.05.09
 *
 *************************************************************************************************************************/ 

@charset "utf-8";


/* jquery.sparkline.min.js */
.jqstooltip{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}